<%-include(`partials/header`) %>

<h3>Welcome to our platform</h3>
<h3>Welcome <%= name %></h3>
<p>Thanks for joining Us.</p>
<p>Enjoy the great experience.</p>
<button><a href="/logout">Logout</a></button>

<%-include(`partials/footer`) %>